/*FRONT PAGE*/
.front-page {
    display: flex;
    flex-direction: column;
    color: #e59e24;
}

.front-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url(leather.png);*/
    z-index: 1;
    opacity: 0.3;
}

.front-page .heading-title {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
    right: 0;
    position: absolute;
    top: 100px;
}

.subtitle {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
    position: absolute;
    right: 0;
}