.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    border: 1px solid #cda17f;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 10%;
    transition: transform 0.5s;
}

.page-button {
    aspect-ratio: 21 / 14;
    width: 12px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.1s;
    margin: auto;
    position: absolute;
    bottom: 2px;
}

.page-button:hover {
    cursor: pointer;
    /*hueshift #cda17f -> #ac423b*/
    filter: brightness(0) saturate(100%) invert(38%) sepia(42%) saturate(2004%) hue-rotate(331deg) brightness(71%) contrast(84%);
}

.back {
    background-image: url("../images/UI/buttonLeft.svg");
    left: 2px;
}

.next {
    background-image: url("../images/UI/buttonRight.svg");
    right: 2px;
}

.view-content {
    --padding: 2px;
    --font-size: 3.75px;
    --rows: 3; /* default*/

    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(8 * var(--padding)) repeat(var(--rows), auto);
}

.view-content > h1 {
    font-size: calc(2 * var(--font-size));
    color: #985244;
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-column: 1 / span 2;
}

/* === TEAM === */

.team {
    font-size: var(--font-size);
    text-align: center;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    padding: var(--padding);
    outline: calc(var(--padding) / 2) solid #cda17f;
}

.team.single, .research.single {
    grid-template-columns: 1fr;
}

.team > .naam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: var(--padding);
    border-top: calc(var(--padding) / 4) solid #cda17f;
}

.team:not(.single) > .naam {
    border-right: calc(var(--padding) / 4) solid #cda17f;
}

.team > .naam:nth-child(1), .team:not(.single) > .naam:nth-child(2) {
    border-top: none;
}

.team > .naam:nth-child(2n) {
    border-right: none;
}

.team:not(.single) > .naam:nth-child(2n + 1):last-child {
    grid-column: 1 / span 2;
    border-right: none;
}

.team > .naam > p:first-child {
    font-size:  var(--font-size);
    color: #985244;
}

.team > .naam > p:last-child {
    font-size: calc(0.8 * var(--font-size));
    color: #985244;
}

/* === DATE === */

.date {
    display: flex;
    justify-content: start;
    margin: auto;
}

.date > .start::before {
    content: 'Van: ';
    color: #985244;
    font-size:  var(--font-size);
}

.date > .start, .date > .end {
    color: #985244;
    font-size:  var(--font-size);
}

.date > .start::after {
    content: ' t/m: ​';
}

/* === CLIENT === */

.client {
    color: #985244;
    font-size:  var(--font-size);
    text-align: start;
    margin: auto;
}

.client::before {
    content: 'Opdrachtgever: ';
}

/* === PROGRAM OF REQUIREMENTS === */

.program-of-requirements {
    color: #985244;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-left: calc(var(--padding) * 2);
    font-size: calc(var(--font-size) * 0.75);
    position: relative;
    padding-left: calc(var(--padding) * 2);
    height: fit-content;
}

.program-of-requirements:hover::before {
    background-color: #a53030;
}

.program-of-requirements::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(var(--padding) / 2);
    background-color: #cda17f;
}

.program-of-requirements > h2 {
    font-size:  var(--font-size);
    position: relative;
}

.program-of-requirements > p {
    margin-bottom: calc(var(--padding) / 2);
    position: relative;
    font-size: calc(var(--font-size)* 0.75);
    line-height: calc(2* var(--padding));
    color: #985244;
}

.program-of-requirements > ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2px;
}

.program-of-requirements > ul > li {
    margin-bottom: calc(var(--padding) / 2);
    position: relative;
    padding-left: calc(var(--padding) * 2);
}

.program-of-requirements > ul > li::before {
    content: 'X';
    color: #cda17f;
    position: absolute;
    left: 0;
    font-size: 0.5em;
    height: 100%;
}

/* === RESEARCH === */

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23px;
    border: calc(var(--padding) / 2) solid #cda17f;

    margin: 0 auto;
}

.research {
    color: #985244;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(var(--padding) * 2);
    font-size:  var(--font-size);
    position: relative;
    padding-left: calc(var(--padding) * 2);
    height: fit-content;
    grid-gap: 1px;
}

.research.wide {
    grid-column: 1 / span 2;
}

.research.square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.research.no-gap {
    grid-gap: 0;
}

.research:has(.image) {
    flex-direction: row;
}

.research:has(.list) {
    flex-direction: column;
}

.research:hover::before {
    background-color: #a53030;
}

.research::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(var(--padding) / 2);
    background-color: #cda17f;
}

.research > h2 {
    font-size:  var(--font-size);
    position: relative;
}

.research > p {
    margin-bottom: calc(var(--padding) / 2);
    position: relative;
    font-size: calc(var(--font-size)* 0.75);
    line-height: calc(2* var(--padding));
}

.research > img {
    height: 28px;
    width: auto;
    margin-bottom: calc(var(--padding) / 2);
    float: right;
    image-rendering: auto;
}

research > ul, ul.list {
    list-style-type: none;
    padding: 0;
}

.research > ul > li, ul.list > li {
    list-style-type: none;
    margin-bottom: calc(var(--padding) / 4);
    position: relative;
    padding-left: calc(var(--padding) * 1.1);
    color: #985244;
    font-size: calc(var(--font-size)* 0.75);
}

.research > table {
    margin-bottom: calc(var(--padding) / 2);
    position: relative;
    font-size: calc(var(--font-size)* 0.75);
    color: #985244;
}

.research > table > tbody {
    display: block;
    overflow: auto;
    max-height: 200px;
}

.research > table > tbody > tr > td, .research > table > tbody > tr > th {
    text-align: start;
    font-size: calc(var(--font-size)* 0.75);
}