* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Aspect ratio 1:1.5 */
    --book-size: calc(0.75 * 100vh);
    --book-width: calc(var(--book-size) * (662 / 864));
    --page-gap: 0px;
    --book-border: 12px;

    font-family: "Majoris";
}

@font-face {
    font-family: 'Majoris';
    src: url('Majoris.ttf') format('truetype');
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.noclick {
    pointer-events: none;
}

.pixelart {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#screensize-detector {
    visibility: hidden;
    width: 100in;
    height: 100cm;
    position: fixed;
}

/* Book */
.book {
    width: fit-content;
    height: var(--book-size);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
}

.page {
    width: var(--page-gap);
    height: var(--book-size);
    transform-style: preserve-3d;
    position: relative;
    backface-visibility: hidden;
    transition: width 0.5s ease;
}

.paper {
    position: relative;
    width: var(--book-width);
    height: var(--book-size);
    background-color: #e6dfd5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Majoris";
}

#p0 .paper {
    background: #701325;
    background: linear-gradient(45deg, #701325 0%, #4e0c19 100%);
}

.page.flipped {
    transform: rotateY(-180deg);
}

.page.left {
    transform-origin: 0 50%;
}

.page.left {
    right: var(--page-gap);
}

.page.right {
    transform-origin: 100% 50%;
}

.arrow {
    position: absolute;
    right: -250px;
    top: 50%;
    transform: translateY(-50%);
    height: 300px;
    width: 300px;
    background: #fdf0dd;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0 0 10px -5px black;
    justify-content: flex-start;
}

.left .arrow {
    position: absolute;
    left: -250px;
    top: 50%;
    justify-content: flex-end;
}

.arrow i {
    font-size: 25px;
    color: gray;
    width: 50px;
    display: flex;
    justify-content: center;
}

.first-page-arrow {
    right: 0;
    bottom: 0;
    transform: unset;
    height: 84px;
    width: 84px;
    top: unset;
    z-index: 10000000000000000;
    display: flex;
    align-items: center;
    border-radius: 50% 0 0 0;
    background: #fdf0dd;
    box-shadow: inset 4px 4px 10px -5px black;
    position: absolute;
    justify-content: center;
    color: gray;
    font-size: 25px;
    text-align: center;
}

.first-page-arrow i {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.last-page-arrow {
    left: 0;
    bottom: 0;
    transform: unset;
    height: 84px;
    width: 84px;
    top: unset;
    z-index: 10000000000000000;
    display: flex;
    align-items: center;
    border-radius: 0 50% 0 0;
    background: #fdf0dd;
    box-shadow: inset 0 0 10px -5px black;
    position: absolute;
    justify-content: center;
    color: gray;
    font-size: 25px;
    text-align: center;
}

.last-page-arrow i {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spine {
    height: 100%;
    width: auto;
    position: absolute;
}

.spine svg {
    height: 100%;
    width: auto;
    position: absolute;
    fill: #543518;
}

.spine svg:first-child {
    transform: translateX(-98%);
}

.spine svg:last-child {
    transform: translateX(-2%);
}

.spinebackground {
    width: 100%;
    height: 100%;
    background: #cfc7ba;
    position: absolute;
}

#p0 .spine-left-line {
    position: absolute;
    height: 100%;
    width: 100px;
    background: linear-gradient(-90deg, #40280d 90%, #9e9191);
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#p0 .spine-left-line .binding {
    height: calc(9 * 1%);
    width: 100%;
    background: linear-gradient(90deg, #543518 90%, #4a2f12);
    border-right: 4px solid #9f8021;
    border-left: 4px solid #543518;
    box-shadow: 0 0 10px 1px black;
}

.book .page:last-child .spine-right-line {
    position: absolute;
    height: 100%;
    width: 100px;
    background: linear-gradient(90deg, #40280d 90%, #9e9191);
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.book .page:last-child .spine-right-line .binding {
    height: calc(9 * 1%);
    width: 100%;
    background: linear-gradient(-90deg, #543518 90%, #4a2f12);
    border-left: 4px solid #9f8021;
    box-shadow: 0 0 10px 1px black;
}

.front-page {
    position: absolute;
    width: calc(100% - 100px);
    right: 0;
    height: 100%;
}

.left .fade {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100px;
    background: url(fade.png);
    opacity: 0.5;
}

.right .fade {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100px;
    background: url(fade.png);
    transform: scaleX(-1);
    opacity: 0.5;
}

.right .paper {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 0px 3px 1px #00000030;
}

.left .paper {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 0px 3px 1px #00000030;
}

.book .page:last-child .paper {
    background: #701325;
}

.front-page .gold-outline {
    margin: 10px;
    border: 10px solid #9f8021;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    border-radius: 5px;
}

.front-page .title-text {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}

.front-page .title-text svg:not(:first-child) {
    margin-top: 50px;
    fill: #e3a124;
    width: 90%;
}

.front-page .title-text svg:nth-child(3) {
    margin-top: 0;
}


.front-page svg {
    fill: #e3a124;
}

.front-page .project-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.front-page .project-counter svg:first-child {
    fill: white;
    width: 25px;
    height: 25px;
}

.front-page .project-counter svg:last-child {
    width: 20px;
    height: 20px;
}

.front-page .file-sticker {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotate(337deg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg, #9f8021 0%, #957916 100%);
    box-shadow: 0 0 2px 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.front-page .feather {
    position: absolute;
    bottom: 10%;
    right: 15%;
    transform: rotate(337deg);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.front-page .feather img {
    display: block;
    width: 200px;
}

.front-page .feather img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    mix-blend-mode: lighten;
}

.front-page .file-sticker svg {
    fill: white;
    transform: scale(1.2);
}

#size-wrong-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    padding: 20%;
    font-size: 40px;
    text-align: justify;
}

.arrow-small {
    position: absolute;
    top: 27.5%;
    left: 0;
    width: 100px;
    height: 10px;
}

.arrow-small svg {
    width: 100%;
    height: 100%;
    fill: #7d695e;
}

.right .arrow-small {
    left: unset;
    right: 0;
    transform: scaleX(-1);
    width: 100%;
    z-index: 100000000000;
}

.left-click {
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 1000000000;
    border-radius: 50%;
    left: 50%;
    transform: translateX(calc(-1 * var(--book-width) - 150px));
}

.right-click {
    position: fixed;
    width: 300px;
    height: 300px;
    z-index: 1000000000;
    border-radius: 50%;
    right: 50%;
    transform: translateX(calc(var(--book-width) + 150px));
}

.paper .class-title {
    width: 100%;
    height: 27.5%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 75px 50px 0 0;
    text-align: end;
    font-size: 40px;
    color: #7d695e;
}

.project-showcase-left {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.project-showcase-left .number {
    width: 80%;
    position: relative;
    left: 10%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.number .left-arrow {
    height: 20px;
    width: 200px;
    transform: scaleX(-1);
    margin-right: 10px;
    fill: #7d695e;
}

.number .right-arrow {
    height: 20px;
    width: 200px;
    margin-left: 10px;
    fill: #7d695e;
}

.number .num {
    width: 50px;
    stroke: #7d695e;
    fill: none;
    stroke-width: 5px;
}

.project-showcase-left .project-title {
    font-size: 2vw;
    text-align: center;
    color: #7d695e;
    width: 80%;
    position: relative;
    left: 10%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.project-showcase-right {
    font-size: 1.2vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    color: #7d695e;
    gap: 100px;
}

.project-showcase-right .preview-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-showcase-right .preview-image {
    box-shadow: inset 0 0 3px 1px #0000008a;
    padding: 5px;
    background: #e6dfd5;
    display: flex;
}

.project-showcase-right .desc {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 0 20px 20px #d5cfc3;
    background: #d5cfc3;
    padding: 20px;
}

.project-showcase-right .desc p {
    text-align: end;
}

.bekijk {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 100px;
}

/*FRONT PAGE*/
.front-page {
    display: flex;
    flex-direction: column;
    color: #e59e24;
}

.front-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
    opacity: 0.3;
}

.front-page .heading-title {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
    right: 0;
    position: absolute;
    top: 100px;
}

.subtitle {
    display: flex;
    justify-content: center;
    width: calc(100% - 120px);
    position: absolute;
    right: 0;
}

.click {
    position: absolute;
    color: black;
    font-size: 12px;
}

/*PROJECTEN PAGINA's*/

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

.project-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.project-header h1 {
    margin: 0;
}

.project-meta {
    margin-top: 10px;
    font-size: 0.9em;
}

.project-meta p {
    margin: 5px 0;
}

.project-meta span {
    font-weight: bold;
}

.project-overview,
.project-research,
.project-role,
.project-final,
.project-evaluation,
.project-team {
    padding: 20px;
    border-bottom: 2px solid #eee;
}

.project-overview h2,
.project-research h2,
.project-role h2,
.project-final h2,
.project-evaluation h2,
.project-team h2 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.project-role ul,
.project-team ul {
    padding: 0;
    list-style-type: none;
}

.project-role li,
.project-team li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #333;
}

.project-requirements {
    padding: 20px;
}

.sketch {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sketch.left {
    flex-direction: row-reverse;
}

.sketch.right {
    flex-direction: row;
}

.sketch img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sketch p {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 600px) {
    .sketch {
        flex-direction: column;
    }

    .sketch.left,
    .sketch.right {
        flex-direction: column;
    }

    .sketch p {
        margin-left: 0;
        margin-right: 0;
    }
}
