body {
    margin: 0;
    padding: 0;
    font-family: 'Euclid Circular', sans-serif;
    background: url("images/UI/background.png");
    background-size: 144px 96px;
    image-rendering: pixelated;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #985244;
}

h1 {
    font-size: 24px;
    line-height: 1.5;
    color: #985244;
}

/* ==================== */
/*  Scroll Component    */
/* ==================== */
#scroll, #scroll.open {
    --scroll-width: 68;
    --scroll-middle-width: 384;
    --scroll-height: 270;
    position: fixed;
    width: 80vw;
    aspect-ratio: calc((var(--scroll-width) + var(--scroll-middle-width) + var(--scroll-width)) / var(--scroll-height));
    -o-object-fit: contain;
    object-fit: contain;
    display: grid;
    grid-template-columns: calc(var(--scroll-width) / (var(--scroll-width) + var(--scroll-middle-width) + var(--scroll-width)) * 100%) calc(var(--scroll-middle-width) / (var(--scroll-width) + var(--scroll-middle-width) + var(--scroll-width)) * 100%) calc(var(--scroll-width) / (var(--scroll-width) + var(--scroll-middle-width) + var(--scroll-width)) * 100%);
    justify-content: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    transition: grid-template-columns 0.5s;
    z-index: 100;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#scroll.close {
    grid-template-columns: 14.166% 0% 14.166%;
}

#scroll.rotate {
    transform: translate(-50%, -50%) rotate(90deg);
}

#scroll > #left-scroll {
    grid-area: 1 / 1 / 2 / 2;

    width: 100%;
    aspect-ratio: 68 / 270;
    image-rendering: pixelated;
    background-image: url('images/UI/scroll_left.svg');
    background-size: 100% 100%;
}

#scroll > #right-scroll {
    grid-area: 1 / 3 / 2 / 4;

    width: 100%;
    aspect-ratio: 68 / 270;
    image-rendering: pixelated;
    background-image: url('images/UI/scroll_right.svg');
    background-size: 100% 100%;
}

#scroll > #middle-scroll-overflow {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#scroll > #middle-scroll-overflow > #middle-scroll-content {
    height: 100%;
    aspect-ratio: 384 / 270;
    image-rendering: pixelated;
    background-image: url('images/UI/scroll_middle.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    padding-left: 4%;
    padding-top: 6cqw;
    padding-right: 4%;
    padding-bottom: 3.5cqw;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
}

#scroll #html-content {
    overflow: hidden;
    width: 200px;
    position: relative;
    aspect-ratio: 384 / 237;
    transition: transform 0.25s;
}

/* ==================== */
/*      particles       */
/* ==================== */
particle {
    pointer-events: none;
    position: fixed;
    opacity: 0;
}

/* ==================== */
/*      flags           */
/* ==================== */
#menu-flag {
    position: fixed;
    width: 5vw;
    top: 70%;
    left: 17.5%;
    transition: top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#menu-flag.animate-in:hover {
    top: 92%;
}

#menu-flag.animate-in {
    top: 90%;
}

#menu-flag > #flag {
    width: 100%;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
    background-image: url('../images/UI/flag.svg');
    background-size: 100% 100%;
}

#menu-flag > #flag > #flag-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
}