* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;


    /* Aspect ratio 1:1.5 */
    --book-size: calc(0.75 * 100vh);
    --book-width: calc(var(--book-size) * (662 / 864));
    --page-gap: 0px;
    --book-border: 12px;

    overflow: hidden;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.pixelart {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* Book */
.book {
    width: fit-content;
    height: var(--book-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: var(--page-gap);
    height: var(--book-size);
    transform-style: preserve-3d;
    position: relative;
    backface-visibility: hidden;
    transition: width 0.5s ease;
}

.paper {
    position: relative;
    width: var(--book-width);
    height: var(--book-size);
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page.flipped {
    transform: rotateY(-180deg);
}

.page.left {
    transform-origin: 0 50%;
}

.page.left {
    right: var(--page-gap);
}

.page.right {
    transform-origin: 100% 50%;
}

#book .page:nth-child(1) .paper {
    background: red;
}

#book .page:nth-child(2) .paper {
    background: blue;
}

#book .page:nth-child(3) .paper {
    background: green;
}

#book .page:nth-child(4) .paper {
    background: yellow;
}

#book .page:nth-child(5) .paper {
    background: purple;
}

#book .page:nth-child(6) .paper {
    background: orange;
}

#book .page:nth-child(7) .paper {
    background: pink;
}

#book .page:nth-child(8) .paper {
    background: brown;
}

.arrow {
    position: absolute;
    right: -250px;
    top: 50%;
    transform: translateY(-50%);
    height: 300px;
    width: 300px;
    background: #fdf0dd;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0 0 10px -5px black;
    justify-content: flex-start;
}

.left .arrow {
    position: absolute;
    left: -250px;
    top: 50%;
    justify-content: flex-end;
}

.arrow i {
    font-size: 25px;
    color: gray;
    width: 50px;
    display: flex;
    justify-content: center;
}

.first-page-arrow {
    right: 0;
    bottom: 0;
    transform: unset;
    height: 84px;
    width: 84px;
    top: unset;
    z-index: 10000000000000000;
    display: flex;
    align-items: center;
    border-radius: 50% 0 0 0;
    background: #fdf0dd;
    box-shadow: inset 0 0 10px -5px black;
    position: absolute;
    justify-content: center;
    color: gray;
    font-size: 25px;
    text-align: center;
}

.first-page-arrow i {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.last-page-arrow {
    left: 0;
    bottom: 0;
    transform: unset;
    height: 84px;
    width: 84px;
    top: unset;
    z-index: 10000000000000000;
    display: flex;
    align-items: center;
    border-radius: 0 50% 0 0;
    background: #fdf0dd;
    box-shadow: inset 0 0 10px -5px black;
    position: absolute;
    justify-content: center;
    color: gray;
    font-size: 25px;
    text-align: center;
}

.last-page-arrow i {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}